<header class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <p class="title is-size-3-mobile">
          Privacy Policy
        </p>
      </div>
      <div class="column is-half">
        <img class="hero is-pulled-right is-hidden-mobile"
             src="assets/about/about.svg" alt="about">
        <img class="hero is-hidden-desktop is-hidden-tablet"
             src="assets/about/about.svg" alt="about">
      </div>
    </div>
  </div>
</header>

<section class="section">
	<div class="container content">
		<div class="columns is-centered">
			<div class="column is-10">

				<div class="section">
					<p>The FeatureCloud consortium is committed to the principles of data protection and data minimization. The
						use of our website and our scientific activities involve the processing of personal data. In order to make
						these data processing operations transparent, we would like to inform you in this privacy policy how we
						process personal data and what rights you have in this regard. Should you have any further questions, please
						find our contact details below.</p>
				</div>

				<div class="section">
					<h1 class="title is-4">I. Who we are and how you can contact us if you have any questions?</h1>
					<p>
						University of Hamburg (UHH) created and maintains this
						website as a member of the FeatureCloud consortium and is with regard to this website the controller
						according to the General Data Protection Regulation (GDPR).
					</p>
					<p> University of Hamburg <br/>
						Notkestrasse 9 <br/>
						22607 Hamburg <br/>
						GERMANY <br/>
						<a href="jan.baumbach@uni-hamburg.de">jan.baumbach[at]uni-hamburg.de</a>
					</p>
				</div>

				<div class="section">
					<h1 class="title is-4">II. Our data processing – for what purpose and on what legal basis we process personal
						data</h1>
					<h1 class="title is-5">II.1 General</h1>
					<p>We process personal data in compliance with the relevant data protection law, in particular the General
						Data Protection Regulation (GDPR, Regulation [EU] 2016/679) and the German Federal Data Protection Act
						(BDSG). Any processing by us will therefore only take place based on a legal basis (in particular in
						accordance with Article 6 paragraph 1 lit a to f GDPR), which will be stated below for the individual data
						processing operations. We do not carry out any automated decision making.</p>

					<h1 class="title is-5">II.2 Operation of our website</h1>
					<p>
						Every time you access our website (https://www.exbio.wzw.tum.de/partea/), your computer (terminal device) / web browser
						automatically transmits certain information to enable you to visit the website:
					</p>

					<ul>
						<li>IP address</li>
						<li>Date and time of the request</li>
						<li>Time zone difference to Greenwich Mean Time (GMT)</li>
						<li>Content of the request (page/content to be retrieved)</li>
						<li>Access Status/HTTP(S) Status Code and request method (GET/POST)</li>
						<li>Browser and browser version</li>
						<li>Operating system and its user interface</li>
					</ul>

					<p>
						This data is temporarily stored in the log files of our system. This data is not stored together with other
						personal data of the user.
					</p>

					<h2 class="subtitle is-6">Legal basis and purpose of data processing</h2>

					<p>
						The legal basis for the processing of data and their temporary storage in log files is Article 6 paragraph 1
						lit f GDPR. Temporary storage of the listed data by the system is necessary to enable delivery of the
						website to the user’s computer. The storage in log files is done to ensure the functionality of the website.
						In addition, the data serves us to optimise the website and to ensure the security of our information
						technology systems, in particular to guarantee the integrity, confidentiality and availability of the data
						processed via our website. From these purposes follows our legitimate interest in data processing in
						accordance with Article 6 paragraph 1 lit f GDPR.
					</p>

					<h2 class="subtitle is-6">Duration of storage</h2>

					<p>
						The data will be deleted as soon as they are no longer necessary for the purpose of their collection. This
						is the case when collecting data for the purpose of providing the website when the respective session is
						ended. For the data stored in log files, this is the case after 14 days at the latest, unless further
						processing is necessary to clarify a (suspected) attack.
					</p>

					<p>
						Personal data, which is collected during the operation of the website, will only be transmitted by us to
						third parties (in particular to expert persons and security authorities) in the event of a (suspected) data
						security incident or a criminal act (e.g. an attack) for the purposes of clarification, prosecution or the
						exercise of legal claims.
					</p>

					<h2 class="subtitle is-6">Third-party websites</h2>
					<p>
						Our website contains in part hyperlinks to and elements from third-party websites. If you follow a hyperlink
						to one of these websites or activate elements from third-party websites (e.g. Twitter), please note that we
						cannot assume any responsibility or guarantee for third-party content or data protection conditions.
					</p>

					<h1 class="title is-5">II.3 Use of LocalStorage</h1>
					<p>
						For the purpose of remembering a logged-in user, our website uses LocalStorage. LocalStorage is a
						standardised way for a website to store a small file of characters in your browser. Contrary to cookies,
						this data is not transmitted to us in every browser interaction, but only when it is actively required.
						It is typically used to recognise you as a unique user as you move from one page to another and similar
						purposes.
					</p>

					<p>
						Therefore, for this purpose, we have a legitimate interest in processing personal data in accordance with
						Article 6 paragraph 1 lit f GDPR.
					</p>

					<h2 class="subtitle is-6">Duration of storage, objection and removal possibility</h2>

					<p>
						If you do not log in, LocalStorage ist not used at all. In case you log in, the data is stored in
						LocalStorage as long as you are logged in. To remove the data stored by our website in LocalStorage, just
						log out from our website. Therefore, you as a user also have full control over the use of LocalStorage.
					</p>

					<h1 class="title is-5">II.4 Twitter</h1>
					<p>
						We use the short message service “Twitter” under the handle [at]Feature_Cloud and make use of the platform of
						Twitter Inc, 1355 Market Street, Suite 900, San Francisco, CA 94103 USA. Responsibility for data processing
						(for persons living outside the USA) lies with: Twitter International Company, One Cumberland Place, Fenian
						Street, Dublin 2 D02 AX07, Ireland. Please note that you use this short message service and its functions
						(e.g. Retweet, Like) on your own responsibility and that we have no influence on the data processing by
						Twitter. For more information on processing by Twitter, please refer to the Twitter privacy policy:
						https://twitter.com/en/privacy.
					</p>

					<p>
						The data you publish on Twitter, in particular your handle (user name) and the content accessible under your
						account, are processed by us to the extent that we retweet or reply to these (“tweets”) or write tweets from
						us referring to your account.
					</p>

					<h1 class="title is-5">II.5 Establishing contact</h1>
					<p>When contacting us (e.g. via contact form or e-mail), the information provided by the inquirer (name,
						contact data, other details) will be processed for documentation, processing and answering the enquiry. We
						offer a contact form on our website. We have marked the mandatory data required to answer an inquiry as
						mandatory fields. The provision of further data is voluntary. </p>

					<p>The basis for this is our legitimate interest in the proper documentation, processing and answering of the
						enquiry (Article 6 paragraph 1 lit f GDPR). The personal data provided is stored by us as long as it is
						necessary for the purpose of proper documentation, processing and answering the enquiry (up to 3 years),
						except for a longer storage period is required for the purpose of fulfilling a legal obligation or for the
						exercise or defence of legal claims. </p>

					<h1 class="title is-5">II.6 To whom do we transmit personal data?</h1>
					<p>We will only transfer your personal data to the extent necessary and only in the following cases:</p>

					<ul>
						<li>with your consent;</li>
						<li>insofar as we are legally obliged to do so;</li>
						<li>to companies that support us in providing our website; these service providers act as processors, who
							may only process the data in accordance with our instructions (within the framework of an agreement
							according to Article 28 paragraph 3 GDPR);
						</li>
						<li>insofar as this is necessary to protect our legitimate interests (e.g. to assert, exercise or defend
							legal claims) or those of a third party and there is no reason to assume that you have an overriding
							interest which requires protection of personal data.
						</li>
					</ul>
				</div>

				<div class="section">
					<h1 class="title is-4">III. Rights of the data subject</h1>

					<p>Provided that the respective legal requirements are met, you can assert the following rights of data
						subjects:</p>
					<h1 class="title is-5">Right to information:</h1>

					<p>Right to information: You can request confirmation as to whether personal data concerning you is being
						processed and request information about this data and the information in accordance with Article 15 GDPR.
					</p>
					<ul>
						<li>Right of rectification if we process incorrect or incomplete data about you (Article 16 GDPR).</li>
						<li>Right to have personal data concerning you deleted if the conditions of Article 17 GDPR are met.</li>
						<li>Right to limit the processing of your data (Article 18 GDPR).</li>
						<li>The right to transfer the data you have provided to us, provided that the processing is based on consent
							(Article 6 paragraph 1 letter a) or on a contract (Article 6 paragraph 1 letter b) to which you are party
							and that the processing is carried out using automated procedures (Article 20 GDPR).
						</li>
						<li>In the case of processing operations carried out on the basis of legitimate interests (pursuant to
							Article 6 paragraph 1 lit f GDPR), you have the right to object to the processing of your personal data
							pursuant to Article 21 GDPR, provided that there are reasons for doing so arising from your particular
							situation. In the case of processing for the purpose of direct marketing, this right is unrestricted.
						</li>
						<li>You can revoke your consent to the processing of personal data at any time, please contact us (see our
							contact details). Revocation of the consent does not affect the lawfulness of the processing carried out
							based on the consent until revocation.
						</li>
						<li>Right of complaint: You have the right to complain to a supervisory authority responsible for you (in
							Bavaria (Germany): Bavarian State Office for Data Protection Supervision, https://www.lda.bayern.de/) if
							you believe that the processing of personal data relating to you has violated the GDPR or your rights as a
							data subject have been infringed. In cases in which you were not completely satisfied with our work, we
							request that you first contact us so that we can be given an opportunity to rectify any errors.
						</li>
					</ul>

					<p><strong>Changes to our privacy policy</strong> <br/> We always keep our privacy policy up to date and
						therefore adapt it when necessary.</p>

					<p> Status as of 12.02.2020</p>

				</div>
			</div>
		</div>
	</div>


</section>
