<header class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <p class="title is-size-3-mobile">
          Imprint
        </p>
      </div>
      <div class="column is-half">
        <img class="hero is-pulled-right is-hidden-mobile"
             src="assets/about/about.svg" alt="about">
        <img class="hero is-hidden-desktop is-hidden-tablet"
             src="assets/about/about.svg" alt="about">
      </div>
    </div>
  </div>
</header>

<section class="section">
	<div class="container content">
		<div class="columns is-centered">
			<div class="column is-10">
				<div class="section">
					<h1 class="title is-5">Provider in terms of § 5 TMG (telemetry law of Germany) and responsible person for the
						contents according to § 55 paragraph 1 RStV (interstate broadcasting treaty of Germany):</h1>

					<h2 class="is-size-6">University of Hamburg</h2>
					<p>
						Notkestrasse 9 <br/>
						22607 Hamburg <br/>
						GERMANY <br/>
					</p>


					<h1 class="title is-5">Controlling Authority:</h1>

					<h2 class="is-size-6">Behörde für Wissenscaft, Forschung, Gleichstellung und Bezirke der Freien und Hansestadt
						Hamburg</h2>
					<p>
						Hamburger Straße 37 <br/>
						22083 Hamburg <br/>
						GERMANY <br/>
						<br/>
						Sales tax identification number according to § 27a UStG: DE245584140</p>


					<h1 class="title is-5">Availability</h1>
					<p>No guarantee is given for the availability of this website and the associated services.</p>

					<h1 class="title is-5">Contents</h1>
					<p>For the contents presented on this website, no liability or guarantee is assumed for the topicality,
						correctness and completeness of the information offered. There is no legal assurance of the information.
						Therefore legal claims to information acquired here are excluded. All offers held here are noncommittal, the
						UHH reserves itself the right to accomplish if necessary changes or additions of the information and data
						that is made available.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
