<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>partea</string>
	<key>CFBundleExecutable</key>
	<string>partea</string>
	<key>CFBundleIconFile</key>
	<string>generated-cc955dda4a26575c66c525a312892bc8865a61c112a0bd918dac9a4a97cbd9c4.icns</string>
	<key>CFBundleIdentifier</key>
	<string>partea</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>partea</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
