<header class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <p class="title is-size-3-mobile">
          About
        </p>
      </div>
      <div class="column is-half">
        <img class="hero is-pulled-right is-hidden-mobile"
             src="assets/about/about.svg" alt="about">
        <img class="hero is-hidden-desktop is-hidden-tablet"
             src="assets/about/about.svg" alt="about">
      </div>
    </div>
  </div>
</header>

<div class="container is-fluid">
  <section class="section">
    <div class="content">
      <div class="container">
        <p class="title is-size-3-mobile">Contact</p>
        <p class="subtitle is-size-6-mobile">
          This project has been developed by the Chair of Computations Systems Biology (<a
          href="https://www.cosy.bio/">Cosy.Bio</a>) at University of Hamburg (<a
          href="https://www.uni-hamburg.de/en.html">UHH</a>) in collaboration with the Harvard Medical School and TIMI
          Study Group.
        </p>

        <div class="columns members">
          <div class="column">
            <a href="https://www.cosy.bio/" target="_blank"
               title="University of Hamburg">
              <img class="logo" style="width: 70%" src="assets/logos/uhh.png">
            </a>
          </div>
          <div class="column">
            <a href="https://hms.harvard.edu/" target="_blank"
               title="Harvard Medical School">
              <img class="logo" src="assets/logos/harvard.png">
            </a>
          </div>
          <div class="column">
            <a href="https://timi.org/" target="_blank"
               title="TIMI study group">
              <img class="logo" src="assets/logos/timi.jpeg">
            </a>
          </div>

        </div>

        <p class="subtitle is-size-6-mobile">
          For questions please write an e-mail to:
          Julian Späth - <a>julian.alexander.spaeth@uni-hamburg.de</a>
        </p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="container">
        <p class="title is-size-3-mobile">People behind Partea</p>
        <ul>
          <li>Julian Späth (UHH)</li>
          <li><a target="_blank" href="https://www.zbh.uni-hamburg.de/en/personen/csb/jbaumbach.html">Prof. Dr. Jan
            Baumbach (UHH)</a></li>
          <li><a target="_blank"
                 href="https://physiciandirectory.brighamandwomens.org/details/767/elliott-antman-cardiovascular_medicine-boston">
            Elliott M. Antman, MD (HMS)</a></li>
          <li><a target="_blank"
                 href="https://researchfaculty.brighamandwomens.org/BRIProfile.aspx?id=1863">
            Joseph Loscalzo, MD, PhD (HMS)</a></li>
          <li>Sabina A. Murphy (TIMI, HMS)</li>
          <li>Frederick K. Kamanu (TIMI, HMS)</li>
          <li>Julian Matschinske (UHH)</li>
          <li>Olga Zolotareva (TUM, UHH)</li>
          <li>Mohammad Bakhtiari (UHH)</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <div class="container">
        <p class="title is-size-3-mobile">Funding</p>
        <p class="subtitle is-size-6-mobile">
          <!-- Do not remove, necessary due to EU rules. -->
          This project has received funding from the European Union’s Horizon 2020 research and innovation programme
          under grant agreement No 826078. This reflects only the author's view and the European Commission is not
          responsible for any use that may be made of the information it contains.
        </p>
        <a target="_blank" href="https://featurecloud.eu/">
          <img src="assets/logos/fc_logo.png" style="height: 50px" alt="featurecloud"/>
        </a>
      </div>
    </div>
  </section>
</div>
