<header class="section">
    <div class="container">
      <div class="columns is-desktop is-vcentered">
        <div class="column is-half">
          <p class="title is-size-3-mobile">
            Page not found
          </p>
          <p class="subtitle is-size-6-mobile">
            Oups. This page does not exist.
          </p>
        </div>
        <div class="column is-half">
          <img class="hero is-pulled-right is-hidden-mobile"
               src="assets/not-found/not-found.svg" alt="not-found">
          <img class="hero is-hidden-desktop is-hidden-tablet"
               src="assets/not-found/not-found.svg" alt="not-found">
        </div>
      </div>
    </div>
</header>
