<header class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <p class="title is-size-3-mobile">
          Projects
        </p>
        <p class="subtitle is-size-6-mobile">
          Keep the overview about your collaboration projects.
        </p>
      </div>
      <div class="column is-half">
        <img class="hero is-pulled-right is-hidden-mobile"
             src="assets/projects/projects.svg" alt="projects">
        <img class="hero is-hidden-desktop is-hidden-tablet"
             src="assets/projects/projects.svg" alt="projects">
      </div>
    </div>
  </div>
</header>

<div class="container is-fluid">
  <section class="section">
    <div class="box">
      <div class="card-content">
        <div class="content">
          <p class="title is-size-3-mobile">Overview</p>

          <p class="subtitle help is-size-6-mobile">
            A list of your coordinated and joined projects.
          </p>
          <table class="table is-striped is-hoverable" *ngIf="projects.length > 0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Project</th>
              <th># Sites</th>
              <th>Analysis</th>
              <th>State</th>
              <th class="is-hidden-mobile">Roles</th>
              <th class="is-hidden-mobile">Created at</th>
              <th class="is-hidden-mobile">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proj of projects | sort:'id' trackBy: trackByFn ">
              <td routerLink="/project/{{proj.id}}" style="cursor: pointer">
                {{ proj.id }}
              </td>
              <td routerLink="/project/{{proj.id}}" style="cursor: pointer">
                {{ proj.name }}
              </td>
              <td routerLink="/project/{{proj.id}}" style="cursor: pointer">
                {{ proj.number_of_sites }}
              <td routerLink="/project/{{proj.id}}" style="cursor: pointer">
                <div class="tags">
                  <span *ngIf="proj.method === 'univariate'" class="tag is-primary">non-parametric</span>
                  <span *ngIf="proj.method === 'cox'" class="tag is-warning">regression</span>
                  <span *ngIf="proj.smpc" class="tag is-success">smpc</span>
                </div>
              </td>
              <td routerLink="/project/{{proj.id}}" style="cursor: pointer">
                <div class="tags">
                  <span class="tag"
                        [ngClass]="{'is-success': proj.state === 'finished', 'is-danger': proj.state === 'error'}">{{ proj.state }}</span>
                  <span style="background-color: lightgrey" *ngIf="proj.c_index"
                        class="tag">c-index={{ proj.c_index | number: '1.1-3' }}</span>
                </div>
              </td>
              <td class="is-hidden-mobile" routerLink="/project/{{proj.id}}" style="cursor: pointer">
                <div class="tags">
                  <span *ngFor="let role of proj.roles; trackBy: trackByFn" class="tag"
                        [ngClass]="{'is-info': role === 'owner', 'is-primary': role === 'contributor'}">{{
                    role
                    }}</span>
                </div>
              </td>
              <td class="is-hidden-mobile" routerLink="/project/{{proj.id}}" style="cursor: pointer">
                {{ proj.createdAt | date: "short" }}
              </td>
              <td class="is-hidden-mobile">
                <div class="buttons">
                  <button *ngIf="proj.state === 'finished'" class="button is-small is-primary"
                          (click)="downloadResults(proj)">
                    <i class="fa fa-download"></i>
                  </button>
                  <button class="button is-small is-danger"
                          (click)="deleteProject(proj)"
                          [disabled]="!haveRole(proj, 'owner')">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <p>
            <i class="table" *ngIf="projects.length == 0">
              You have not created any projects yet.
            </i>
          </p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="card-content">
        <div class="content">
          <p class="title is-size-3-mobile">Create</p>

          <p class="subtitle help is-size-6-mobile">
            Create and coordinate a new project.
          </p>

          <div class="field">
            <label class="label" for="npName">Name</label>
            <div class="control">
              <input class="input" [(ngModel)]="newProject.name" id="npName" placeholder="Name of the project"/>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="buttons">
                <button class="button is-primary" [disabled]="!newProject.name" (click)="createProject()">
                  <i class="fa fa-plus icon"></i>
                  <span>Create</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
