<header class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <p class="title is-size-3-mobile">
          Getting started with Partea
        </p>
        <p class="subtitle is-size-6-mobile">
          A step-by-step guide how-to use Partea
        </p>
      </div>
      <div class="column is-half">
        <img class="hero is-pulled-right is-hidden-mobile"
             src="assets/how-to/how-to.svg" alt="how-to">
        <img class="hero is-hidden-desktop is-hidden-tablet"
             src="assets/how-to/how-to.svg" alt="how-to">
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column"><h1 id="coordinators" class="title anchor is-size-2 is-size-3-mobile has-text-centered">
        <a routerLink="/how-to" fragment="coordinators"># </a>For project coordinators</h1></div>
    </div>

    <!-- 1. Create Project-->
    <div class="columns is-centered">
      <div class="column is-5 is-offset-1"><h2 class="subtitle is-size-4-mobile">1. Create a new project</h2>
        <p class="is-size-4 is-size-6-mobile">Go to the <a target="_blank" routerLink="/projects"><b>Projects</b></a>
          page, type in the
          project name and click the create button.
        </p>
        <p class=" is-size-4 is-size-6-mobile">For this you need to be logged in. Please <a target="_blank"
                                                                                            routerLink="/account">register</a>
          or
          <a target="_blank" routerLink="/account" [queryParams]="{p:'login'}">log in</a> first.</p>
      </div>

      <div class="column is-5 has-text-centered is-narrow">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/create_project.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 2. Initialize project parameters -->
    <div class="columns is-centered">
      <div class="column is-5 is-offset-1"><h2 class="subtitle is-size-4-mobile">2. Initialize the project
        parameters</h2>
        <p class="is-size-4 is-size-6-mobile">In the <b>Parameters</b> section of the project page, define the Method
          (Univariate
          Analysis or
          Survival Regression) and further global parameters.
        </p>
        <p class="is-size-6 is-size-7-mobile">This information helps other participants to preprocess their data the
          right way.
        </p>
      </div>
      <div class="column is-5 has-text-centered is-narrow">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/initialize_project.png">
        </figure>
      </div>
    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 3. Invite collaborators -->
    <div class="columns is-centered">
      <div class="column is-5 is-offset-1"><h2 class="subtitle is-size-4-mobile">3. Invite collaborators</h2>
        <p class="is-size-4 is-size-6-mobile">In the <b>Collaborators</b> section, create tokens and share them with
          directly with your
          partners as an invitation to your study. You can also share the master token for larger studies that you can
          share multiple times.
        </p>
      </div>

      <div class="column is-5 has-text-centered is-narrow">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/invite_collaborators.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 4. Run project -->
    <div class="columns is-centered">
      <div class="column is-5 is-offset-1"><h2 class="subtitle is-size-4-mobile">4. Run project</h2>
        <p class="is-size-4 is-size-6-mobile">In the <b>Collaborators</b> section of the project page, press the <b>Run
          Project</b>
          button when every participant has joined.
          If you also want to join as a participant, create a token for yourself and follow the steps in the <a
            routerLink="/how-to" fragment="participants">For project participants section</a>.
        </p>
      </div>
      <div class="column is-5 has-text-centered is-narrow">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/run_project.png">
        </figure>
      </div>
    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 5. Enjoy your results :-) -->
    <div class="columns is-centered">
      <div class="column is-5 is-offset-1"><h2 class="subtitle is-size-4-mobile">5. Enjoy the results :-)</h2>
        <p class="is-size-4 is-size-6-mobile">In the <b>Summary</b> section of the project page, you get an overview
          about your project.
          In the <b>Results</b> section of the proejct page, you can see the plots of your models and a table containing
          the data.
          You can download all the results directly from this page.
        </p>
      </div>
      <div class="column is-5 has-text-centered is-narrow">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/results_project.png">
        </figure>
      </div>
    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column"><h1 id="participants" class="title anchor is-size-2 is-size-3-mobile has-text-centered">
        <a routerLink="/how-to" fragment="participants"># </a>For project participants</h1>
      </div>
    </div>

    <!-- 1. Create Project-->
    <div class="columns is-centered">
      <div class="column is-5 has-text-centered is-narrow is-hidden-mobile">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/create_project.png">
        </figure>
      </div>
      <div class="column is-6 is-offset-1"><h2 class="subtitle is-size-4-mobile">1. Download the <b>PARTEA</b> client</h2>
        <p class="is-size-4 is-size-6-mobile">Download the <b>PARTEA</b> GUI client:</p>
        <ul>
          <li class="is-size-6 is-size-6-mobile"><a target="_blank" routerLink="/assets/executables/partea_ubuntu.tar.gz"><b>Linux
            GUI</b></a>
          </li>
          <li class="is-size-6 is-size-6-mobile"><a target="_blank" routerLink="/assets/executables/partea_macos.zip"><b>macOS
            GUI</b></a></li>
          <li class="is-size-6 is-size-6-mobile"><b>Windows GUI (Coming soon)</b></li>
        </ul>

        <p class="tag is-warning">Google Chrome needs to be installed</p> <br>
        <p class="tag is-warning">Starting the GUI can take some time</p>

        <p class="is-size-4 is-size-6-mobile">Advanced users can also use the Docker CLI tool:
        <ul>
          <li class="is-size-6 is-size-6-mobile">
            <span class="icon"><i class="fab fa-docker"></i></span>
            <span><b><code>docker pull registry.blitzhub.io/partea-cli</code></b></span>
          </li>
        </ul>

        <p class="is-size-4 is-size-6-mobile">Download Sample Data</p>
        <ul>
          <li><a href="assets/sample_data.zip">Rossi - 3 Clients  </a> <a target='_blank' href="https://rdrr.io/cran/RcmdrPlugin.survival/man/Rossi.html">(Source)</a></li>
          <li>Duration Column: week</li>
          <li>Event Column: arrest</li>
        </ul>
      </div>
      <div class="column is-5 has-text-centered is-narrow is-hidden-tablet is-hidden-desktop">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/create_project.png">
        </figure>
      </div>
    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 2. Login and join Project-->
    <div class="columns is-centered">
      <div class="column is-5 has-text-centered is-narrow is-hidden-mobile">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/join_project.png">
        </figure>
      </div>
      <div class="column is-6 is-offset-1"><h2 class="subtitle is-size-4-mobile">2. Login and join project</h2>
        <p class="is-size-4 is-size-6-mobile">Start the client and join the project with your credentials (<a
          target="_blank"
          routerLink="/account">Sign
          up</a>) and project token you received from the coordinator.</p>
        <p class="is-size-4 is-size-6-mobile">If you received a master token, you don't necessarily need an Account. You
          can only enter a
          username and the
          master token. </p>

        <p class="has-text-danger is-size-4 is-size-6-mobile">Be aware, that you don't have access to the results if you
          do not join with an
          account. </p>

      </div>
      <div class="column is-5 has-text-centered is-narrow is-hidden-tablet is-hidden-desktop">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/join_project.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 3. Run client -->
    <div class="columns is-centered">
      <div class="column is-5 has-text-centered is-narrow is-hidden-mobile">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/run_client.png">
        </figure>
      </div>
      <div class="column is-6 is-offset-1"><h2 class="subtitle is-size-4-mobile">3. Run client</h2>
        <p class="is-size-4 is-size-6-mobile">Specify your file columns and choose the path to your local file.
        <p class="is-size-4 is-size-6-mobile">After everything specified, run the local client by pressing the
          <b>Run</b> button. </p>

      </div>
      <div class="column is-5 has-text-centered is-narrow is-hidden-tablet is-hidden-desktop">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/run_client.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 4. Wait for finishing -->
    <div class="columns is-centered">
      <div class="column is-5 has-text-centered is-narrow is-hidden-mobile">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/wait_finish.png">
        </figure>
      </div>
      <div class="column is-6 is-offset-1"><h2 class="subtitle is-size-4-mobile">4. Wait for results</h2>
        <p class="is-size-4 is-size-6-mobile">Lay back, the computation will start automatically after all participants
          have joined.</p>
        <p class="is-size-4 is-size-6-mobile">Be aware that your client needs to keep running. Otherwise the computation
          cannot finish
          succesfully.</p>
      </div>
      <div class="column is-5 has-text-centered is-narrow is-hidden-tablet is-hidden-deskopt">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/wait_finish.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

    <!-- 5.  -->
    <div class="columns is-centered">
      <div class="column is-5 has-text-centered is-narrow is-hidden-mobile">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/results_project.png">
        </figure>
      </div>
      <div class="column is-6 is-offset-1"><h2 class="subtitle is-size-4-mobile">5. Enjoy the results :-)</h2>
        <p class="is-size-4 is-size-6-mobile">Go to the <a target="_blank" routerLink="/projects/"><b>PARTEA</b> webapp</a>,
          login with
          your account and select the corresponding
          project. </p>
        <p class="is-size-4 is-size-6-mobile">In the <b>Results</b> section of the proejct page, you can see the plots
          of your models and
          a table
          containing the data. You can download all the results directly from this page.
        </p>
      </div>
      <div class="column is-5 has-text-centered is-narrow is-hidden-tablet is-hidden-desktop">
        <figure class="image is-fullwidth">
          <img src="assets/how-to/results_project.png">
        </figure>
      </div>

    </div>
    <hr style="margin-top: 5em; margin-bottom: 2em;">

  </div>
</section>

<!--<section class="section">-->
<!--  <div class="container content">-->
<!--    <p class="title">Partea- File Format</p>-->
<!--    <p class="subtitle">-->
<!--      Input file formats in <b>Partea</b> is a simple CSV or TSV file including a samples x features table.-->
<!--      A input file should at least contain the following columns:-->
<!--    </p>-->

<!--    <ul>-->
<!--      <li><b>time:</b> the time until an event happened or until censorship</li>-->
<!--      <li><b>event:</b> boolean indicator, if an event happened (0 censored, 1 event occurred)</li>-->
<!--    </ul>-->

<!--    <p class="subtitle"> In the <b>univariate analysis</b>, only the two columns are needed. However, an additional-->
<!--      column can be-->
<!--      chosen. For each category in this column a separate survival function will be computed</p>-->

<!--    <ul>-->
<!--      <li><b>category_column:</b> column containing categorical values to compare in the logrank test</li>-->
<!--    </ul>-->

<!--    <p class="subtitle"> In the <b>regression analysis</b>, all collaborators need the same columns in their data. Only-->
<!--      numerical-->
<!--      columns will be used for the analysis. If categorical columns are wished in the analysis, they should be one-->
<!--      hot encoded before.</p>-->

<!--    <ul>-->
<!--      <li><b>feature_colum_1:</b> Column containing the values of the first feature (e.g. age)</li>-->
<!--      <li><b>feature_colum_2:</b> Column containing the values of the second feature (e.g. weight)</li>-->
<!--      <li><b>feature_colum_x:</b> further columns</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="section">-->
<!--  <div class="container content">-->
<!--    <p class="title is-size-3-mobile">Partea - User Guide</p>-->

<!--    <p class="subtitle">-->
<!--      A user in <b>Partea</b> can be a coordinator, a contributor or both.-->
<!--      The coordinator uses the web interface to create and initialize the project, create tokens to invite-->
<!--      collaborators and see the results.-->
<!--      The contributors collaborate on a project with their data and need also an account on the Partea webapp.-->
<!--      They use the <a><b>client</b></a> to join the project and start the local computations on their local data.-->
<!--      After the computation is done, each contributor can see the results in the webapp.-->
<!--    </p>-->

<!--    <section class="section">-->

<!--      <p class="subtitle is-size-2">Step - 1: Create User Account & Login</p>-->
<!--      <p class="subtitle">-->
<!--        The first step to use <b>Partea</b> is to create a user account-->
<!--        that will be associated with all projects a user either creates as coordinator or joins as contributor. In-->
<!--        this tutorial, we assume-->
<!--        there are two participants and a coordinator. The username and password of the coordinator and contributors-->
<!--        are as follows:-->
<!--      </p>-->
<!--      <ul>-->
<!--        <li>The project coordinator and first contributor-->
<!--          <ul>-->
<!--            <li>username: usr0</li>-->
<!--            <li>password: pass0</li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li>second contributor-->
<!--          <ul>-->
<!--            <li>username: usr1</li>-->
<!--            <li>password: pass1</li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li>third contributor-->
<!--          <ul>-->
<!--            <li>username: usr2</li>-->
<!--            <li>password: pass2</li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <p class="subtitle">-->
<!--        To create your own accounts, go to the-->
<!--        <a href="https://www.exbio.wzw.tum.de/fedsurv_dev/account">sign up page</a> and enter the username and-->
<!--        password-->
<!--        of your new user account.-->
<!--      </p>-->
<!--    </section>-->

<!--    <section class="section">-->
<!--      <p class="subtitle is-size-2">Step - 2: Download</p>-->

<!--      <p class="subtitle">The second step is to download the appropriate client based on the operating system of your-->
<!--        machine-->
<!--        using the following links:</p>-->
<!--      <ul>-->
<!--        <li>Windows client coming soon...</li>-->
<!--        <li>Mac client coming soon...</li>-->
<!--        <li><a href="assets/partea_ubuntu.tar.gz" download>Ubuntu/Linux GUI</a></li>-->
<!--        <li><a href="assets/partea_ubuntu_cli.tar.gz" download>Ubuntu/Linux CLI</a></li>-->
<!--        <li>Docker CLI: docker pull registry.blitzhub.io/partea-cli</li>-->
<!--      </ul>-->
<!--      <p class="subtitle">-->
<!--        Afterwards, download our sample data for testing purposes: </p>-->
<!--      <ul>-->
<!--        <li>Categorical Analysis: <a href="assets/categorical_analysis.zip">Lymphoma Dataset</a></li>-->
<!--        <ul>-->
<!--          <li>Source: <a-->
<!--            href="https://www.statsdirect.com/help/content/survival_analysis/logrank.htm">www.statsdirect.com</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <li>Regression Analysis: <a href="assets/sample_data.zip">Rossi Dataset</a>-->
<!--          <ul>-->
<!--            <li>Source: Rossi, P., R.-->
<!--              Berk, and K. Lenihan (1980). Money, work, and crime: experimental evidence. Quantitative studies in-->
<!--              social-->
<!--              relations. Academic Press.-->
<!--            </li>-->
<!--          </ul>-->

<!--        </li>-->

<!--      </ul>-->
<!--    </section>-->

<!--    <section class="section">-->

<!--      <p class="subtitle is-size-2">Step - 3: Project creation</p>-->
<!--      <p class="subtitle">-->
<!--        The person who creates a new project becomes the project <b>coordinator</b>. For this, the coordinator first-->
<!--        logs in using his/her username and password.-->
<!--        After the log in, under the "Projects" tab, the coordinator can see the previous projects or-->
<!--        create a new project. In order to create a new project, the coordinator needs to specify the name.-->
<!--      </p>-->
<!--      <p class="subtitle">After that, the project coordinater needs to initialize the project by setting various global-->
<!--        parameters:</p>-->
<!--      <ul>-->
<!--        <li>Method: Categorical Analysis (Kaplan-Meier & Nelson Aalen Fitter) or Regression Analysis (CoxPH Model)-->
<!--        </li>-->
<!--        <li>Timeline: Let the other collaborators know how they should format their time column: Yeats, Months,-->
<!--          Weeks or Days?-->
<!--        </li>-->
<!--        <li>Category Column: What column should be used to compare the different categories in the survival-->
<!--          analysis?-->
<!--        </li>-->
<!--        <li>Privacy-Preserving Results: Should the results of the categorical analysis be privacy-preserving? Here-->
<!--          you can add differential privacy to your computation to prevent a recreation of patient data. The more-->
<!--          data you have, the higher the privacy can be set.-->
<!--        </li>-->
<!--      </ul>-->

<!--      <p class="subtitle">-->
<!--        Pressing the initialize button will enable the coordinator to invite other collaborators by creating tokens-->
<!--        and sharing them. After all collaborators have been invited they can log in to the client with their account-->
<!--        credentials and token and contribute to the project.-->
<!--      </p>-->
<!--    </section>-->

<!--    <section class="section">-->


<!--      <p class="subtitle is-size-2">Step - 4: Project tokens</p>-->
<!--      <p class="subtitle">-->
<!--        Tokens are an essential part when it comes to accessing projects. For every contributor, the coordinator-->
<!--        creates a token granting a participant access to the project and shares each generated token with a-->
<!--        contributor.-->
<!--        In the "Collaborators" section, the coordinator get an overview about tokens that have been created and/or-->
<!--        are already used by a contributor.-->
<!--        Additionally, the coordinator can delete tokens, thereby withdrawing the access to the project for the-->
<!--        corresponding client. When the coordinator created a token for every contributor, he/she can share the-->
<!--        specific token with them via e-mail, inviting them to join.-->
<!--        Another possibility is the master token. It is usable without a user account and can be used multiple times.-->
<!--        A new "real" token will be created for every client who joins using the master token.-->
<!--      </p>-->
<!--    </section>-->

<!--    <section class="section">-->


<!--      <p class="subtitle is-size-2">Step - 5: Participation using the GUI client</p>-->
<!--      <p class="subtitle">-->
<!--        After receiving a token from the coordinator, each contributor follows three steps in order to successfully-->
<!--        join the project and participate in the computation:-->
<!--      </p>-->
<!--      <ol>-->
<!--        <li> Run the executable client package downloaded at step 2.</li>-->
<!--        <li> Enter his/her user account information (created at step 1) and token (got at step 4) into the-->
<!--          corresponding text-->
<!--          fields and press "Join". Then, the corresponding project parameters enforced by the coordinator,-->
<!--          will be retrieved automatically by the participant.-->
<!--        </li>-->
<!--        <li> Preprocess the file and adjust the local parameters in order to fulfill your data and being in one line-->
<!--          with the global parameters. The press "run". When each contributor started the computation, the global-->
<!--          computation will start. After it is finished, the contributors get notified and are able to see the-->
<!--          results in the projects section of the webapp.-->
<!--        </li>-->
<!--      </ol>-->
<!--    </section>-->

<!--    <section class="section">-->


<!--      <p class="subtitle is-size-2">Step - 5: Participation using the CLI client or docker client</p>-->

<!--      <p class="subtitle"><b>usage CLI:</b> <br>./partea_ubuntu_cli [-h] -u USERNAME -token TOKEN -path PATH [-pw-->
<!--        [PASSWORD]]-->
<!--        [-time_col-->
<!--        [TIME_COL]]-->
<!--        [-event_col [EVENT_COL]] [-category_col [COND_COL]] [-sep [SEP]] [-cens [CENS_IS_0]]-->

<!--        <br>-->
<!--        <br>-->
<!--        <b>usage Docker CLI:</b> <br>docker run -v /path/to/folder/with/data:/mnt/data registry.blitzhub.io/partea-cli-->
<!--        [-h] -u-->
<!--        USERNAME -token TOKEN -path /mnt/input/filename [-pw [PASSWORD]] [-time_col [TIME_COL]]-->
<!--        [-event_col [EVENT_COL]] [-category_col [COND_COL]] [-sep [SEP]] [-cens [CENS_IS_0]]-->
<!--        arguments:</p>-->
<!--      <ul>-->
<!--        <li>-->
<!--          -h, &#45;&#45;help show this help message and exit-->
<!--        </li>-->
<!--        <li>-->
<!--          -u USERNAME enter your username-->
<!--        </li>-->
<!--        <li>-->
<!--          -token TOKEN enter your project token-->
<!--        </li>-->
<!--        <li>-->
<!--          -path PATH enter your file path-->
<!--        </li>-->
<!--        <li>-->
<!--          -pw [PASSWORD] enter your password-->
<!--        </li>-->
<!--        <li>-->
<!--          -time_col [TIME_COL] enter your time column-->
<!--        </li>-->
<!--        <li>-->
<!--          -event_col [EVENT_COL] enter your event column-->
<!--        </li>-->
<!--        <li>-->
<!--          -category_col [COND_COL] enter your category column-->
<!--        </li>-->
<!--        <li>-->
<!--          -sep [SEP] enter your separator-->
<!--        </li>-->
<!--        <li>-->
<!--          -cens [CENS_IS_0] enter your censored_value-->
<!--        </li>-->
<!--      </ul>-->

<!--      <section class="section">-->

<!--        <p class="subtitle is-size-2 ">Step - 6: Waiting for computation start</p>-->
<!--        <p class="subtitle">-->
<!--          After running the client, participators need to wait (and keep the client running!) until the project-->
<!--          coordinator runs the computation.-->
<!--          If you are the coordinator, you start the computation by pressing the "Run Project" button on the project-->
<!--          site in the web app.-->
<!--        </p>-->
<!--      </section>-->
<!--    </section>-->

<!--  </div>-->


<!--</section>-->

